<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="card-body">
                <div class="display-3 text-muted mb-5"><i class="si si-exclamation"></i> 404</div>
                <h1 class="h3 mb-3">Oops.. Cette page n'est pas disponible..</h1>
                <p class="h6 text-muted font-weight-normal mb-3">Nous sommes vraiment désomé mais cette page n'est pas disponible !</p>
                <a class="btn btn-primary" href="javascript:history.back()"><i class="fe fe-arrow-left mr-2"></i>Retourner</a>
            </div>
        </div>
    </div>
    <div class="auth_right">
        <carousel [isAnimated]="true">
            <slide>
                <img src="/assets/images/err.png" class="img-fluid" alt="first slide">
                <div class="px-4 mt-4">
                    <h4>Page introuvable  </h4>

                </div>
            </slide>
        </carousel>
    </div>
</div>
