<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/icon-fontawesome']"
                            href="javascript:void(0)">Fontawesome</a></li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/icon-feather']"
                            href="javascript:void(0)">Feather</a>
                    </li>
                    <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" dropdown>
                        <a class="nav-link dropdown-toggle active" id="button-basic" dropdownToggle type="button"
                            aria-controls="dropdown-basic">More</a>
                        <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <a class="dropdown-item" [routerLink]="['/icon-lines']" href="javascript:void(0)">Line
                                Icons</a>
                            <a class="dropdown-item" [routerLink]="['/icon-flags']" href="javascript:void(0)">Flags
                                Icons</a>
                            <a class="dropdown-item" [routerLink]="['/icon-payments']"
                                href="javascript:void(0)">Payments
                                Icon</a>
                        </div>
                    </li>
                </ul>
                <div class="header-action">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i
                            class="fe fe-plus mr-2"></i>Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="payment payment-2checkout" data-toggle="tooltip"
                                        title="payment payment-2checkout"></i></li>
                                <li class="icons-list-item"><i class="payment payment-alipay" data-toggle="tooltip"
                                        title="payment payment-alipay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-amazon" data-toggle="tooltip"
                                        title="payment payment-amazon"></i></li>
                                <li class="icons-list-item"><i class="payment payment-americanexpress"
                                        data-toggle="tooltip" title="payment payment-americanexpress"></i></li>
                                <li class="icons-list-item"><i class="payment payment-applepay" data-toggle="tooltip"
                                        title="payment payment-applepay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bancontact" data-toggle="tooltip"
                                        title="payment payment-bancontact"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitcoin" data-toggle="tooltip"
                                        title="payment payment-bitcoin"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitpay" data-toggle="tooltip"
                                        title="payment payment-bitpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-cirrus" data-toggle="tooltip"
                                        title="payment payment-cirrus"></i></li>
                                <li class="icons-list-item"><i class="payment payment-clickandbuy" data-toggle="tooltip"
                                        title="payment payment-clickandbuy"></i></li>
                                <li class="icons-list-item"><i class="payment payment-coinkite" data-toggle="tooltip"
                                        title="payment payment-coinkite"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dinersclub" data-toggle="tooltip"
                                        title="payment payment-dinersclub"></i></li>
                                <li class="icons-list-item"><i class="payment payment-directdebit" data-toggle="tooltip"
                                        title="payment payment-directdebit"></i></li>
                                <li class="icons-list-item"><i class="payment payment-discover" data-toggle="tooltip"
                                        title="payment payment-discover"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dwolla" data-toggle="tooltip"
                                        title="payment payment-dwolla"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ebay" data-toggle="tooltip"
                                        title="payment payment-ebay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-eway" data-toggle="tooltip"
                                        title="payment payment-eway"></i></li>
                                <li class="icons-list-item"><i class="payment payment-giropay" data-toggle="tooltip"
                                        title="payment payment-giropay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-googlewallet"
                                        data-toggle="tooltip" title="payment payment-googlewallet"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ingenico" data-toggle="tooltip"
                                        title="payment payment-ingenico"></i></li>
                                <li class="icons-list-item"><i class="payment payment-jcb" data-toggle="tooltip"
                                        title="payment payment-jcb"></i></li>
                                <li class="icons-list-item"><i class="payment payment-klarna" data-toggle="tooltip"
                                        title="payment payment-klarna"></i></li>
                                <li class="icons-list-item"><i class="payment payment-laser" data-toggle="tooltip"
                                        title="payment payment-laser"></i></li>
                                <li class="icons-list-item"><i class="payment payment-maestro" data-toggle="tooltip"
                                        title="payment payment-maestro"></i></li>
                                <li class="icons-list-item"><i class="payment payment-mastercard" data-toggle="tooltip"
                                        title="payment payment-mastercard"></i></li>
                                <li class="icons-list-item"><i class="payment payment-monero" data-toggle="tooltip"
                                        title="payment payment-monero"></i></li>
                                <li class="icons-list-item"><i class="payment payment-neteller" data-toggle="tooltip"
                                        title="payment payment-neteller"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ogone" data-toggle="tooltip"
                                        title="payment payment-ogone"></i></li>
                                <li class="icons-list-item"><i class="payment payment-okpay" data-toggle="tooltip"
                                        title="payment payment-okpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paybox" data-toggle="tooltip"
                                        title="payment payment-paybox"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paymill" data-toggle="tooltip"
                                        title="payment payment-paymill"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payone" data-toggle="tooltip"
                                        title="payment payment-payone"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payoneer" data-toggle="tooltip"
                                        title="payment payment-payoneer"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paypal" data-toggle="tooltip"
                                        title="payment payment-paypal"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paysafecard" data-toggle="tooltip"
                                        title="payment payment-paysafecard"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payu" data-toggle="tooltip"
                                        title="payment payment-payu"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payza" data-toggle="tooltip"
                                        title="payment payment-payza"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ripple" data-toggle="tooltip"
                                        title="payment payment-ripple"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sage" data-toggle="tooltip"
                                        title="payment payment-sage"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sepa" data-toggle="tooltip"
                                        title="payment payment-sepa"></i></li>
                                <li class="icons-list-item"><i class="payment payment-shopify" data-toggle="tooltip"
                                        title="payment payment-shopify"></i></li>
                                <li class="icons-list-item"><i class="payment payment-skrill" data-toggle="tooltip"
                                        title="payment payment-skrill"></i></li>
                                <li class="icons-list-item"><i class="payment payment-solo" data-toggle="tooltip"
                                        title="payment payment-solo"></i></li>
                                <li class="icons-list-item"><i class="payment payment-square" data-toggle="tooltip"
                                        title="payment payment-square"></i></li>
                                <li class="icons-list-item"><i class="payment payment-stripe" data-toggle="tooltip"
                                        title="payment payment-stripe"></i></li>
                                <li class="icons-list-item"><i class="payment payment-switch" data-toggle="tooltip"
                                        title="payment payment-switch"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ukash" data-toggle="tooltip"
                                        title="payment payment-ukash"></i></li>
                                <li class="icons-list-item"><i class="payment payment-unionpay" data-toggle="tooltip"
                                        title="payment payment-unionpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verifone" data-toggle="tooltip"
                                        title="payment payment-verifone"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verisign" data-toggle="tooltip"
                                        title="payment payment-verisign"></i></li>
                                <li class="icons-list-item"><i class="payment payment-visa" data-toggle="tooltip"
                                        title="payment payment-visa"></i></li>
                                <li class="icons-list-item"><i class="payment payment-webmoney" data-toggle="tooltip"
                                        title="payment payment-webmoney"></i></li>
                                <li class="icons-list-item"><i class="payment payment-westernunion"
                                        data-toggle="tooltip" title="payment payment-westernunion"></i></li>
                                <li class="icons-list-item"><i class="payment payment-worldpay" data-toggle="tooltip"
                                        title="payment payment-worldpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-2checkout-dark"
                                        data-toggle="tooltip" title="payment payment-2checkout-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-alipay-dark" data-toggle="tooltip"
                                        title="payment payment-alipay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-amazon-dark" data-toggle="tooltip"
                                        title="payment payment-amazon-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-americanexpress-dark"
                                        data-toggle="tooltip" title="payment payment-americanexpress-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-applepay-dark"
                                        data-toggle="tooltip" title="payment payment-applepay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bancontact-dark"
                                        data-toggle="tooltip" title="payment payment-bancontact-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitcoin-dark"
                                        data-toggle="tooltip" title="payment payment-bitcoin-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitpay-dark" data-toggle="tooltip"
                                        title="payment payment-bitpay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-cirrus-dark" data-toggle="tooltip"
                                        title="payment payment-cirrus-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-clickandbuy-dark"
                                        data-toggle="tooltip" title="payment payment-clickandbuy-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-coinkite-dark"
                                        data-toggle="tooltip" title="payment payment-coinkite-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dinersclub-dark"
                                        data-toggle="tooltip" title="payment payment-dinersclub-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-directdebit-dark"
                                        data-toggle="tooltip" title="payment payment-directdebit-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-discover-dark"
                                        data-toggle="tooltip" title="payment payment-discover-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dwolla-dark" data-toggle="tooltip"
                                        title="payment payment-dwolla-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ebay-dark" data-toggle="tooltip"
                                        title="payment payment-ebay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-eway-dark" data-toggle="tooltip"
                                        title="payment payment-eway-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-giropay-dark"
                                        data-toggle="tooltip" title="payment payment-giropay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-googlewallet-dark"
                                        data-toggle="tooltip" title="payment payment-googlewallet-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ingenico-dark"
                                        data-toggle="tooltip" title="payment payment-ingenico-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-jcb-dark" data-toggle="tooltip"
                                        title="payment payment-jcb-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-klarna-dark" data-toggle="tooltip"
                                        title="payment payment-klarna-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-laser-dark" data-toggle="tooltip"
                                        title="payment payment-laser-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-maestro-dark"
                                        data-toggle="tooltip" title="payment payment-maestro-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-mastercard-dark"
                                        data-toggle="tooltip" title="payment payment-mastercard-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-monero-dark" data-toggle="tooltip"
                                        title="payment payment-monero-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-neteller-dark"
                                        data-toggle="tooltip" title="payment payment-neteller-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ogone-dark" data-toggle="tooltip"
                                        title="payment payment-ogone-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-okpay-dark" data-toggle="tooltip"
                                        title="payment payment-okpay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paybox-dark" data-toggle="tooltip"
                                        title="payment payment-paybox-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paymill-dark"
                                        data-toggle="tooltip" title="payment payment-paymill-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payone-dark" data-toggle="tooltip"
                                        title="payment payment-payone-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payoneer-dark"
                                        data-toggle="tooltip" title="payment payment-payoneer-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paypal-dark" data-toggle="tooltip"
                                        title="payment payment-paypal-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paysafecard-dark"
                                        data-toggle="tooltip" title="payment payment-paysafecard-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payu-dark" data-toggle="tooltip"
                                        title="payment payment-payu-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payza-dark" data-toggle="tooltip"
                                        title="payment payment-payza-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ripple-dark" data-toggle="tooltip"
                                        title="payment payment-ripple-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sage-dark" data-toggle="tooltip"
                                        title="payment payment-sage-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sepa-dark" data-toggle="tooltip"
                                        title="payment payment-sepa-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-shopify-dark"
                                        data-toggle="tooltip" title="payment payment-shopify-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-skrill-dark" data-toggle="tooltip"
                                        title="payment payment-skrill-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-solo-dark" data-toggle="tooltip"
                                        title="payment payment-solo-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-square-dark" data-toggle="tooltip"
                                        title="payment payment-square-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-stripe-dark" data-toggle="tooltip"
                                        title="payment payment-stripe-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-switch-dark" data-toggle="tooltip"
                                        title="payment payment-switch-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ukash-dark" data-toggle="tooltip"
                                        title="payment payment-ukash-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-unionpay-dark"
                                        data-toggle="tooltip" title="payment payment-unionpay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verifone-dark"
                                        data-toggle="tooltip" title="payment payment-verifone-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verisign-dark"
                                        data-toggle="tooltip" title="payment payment-verisign-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-visa-dark" data-toggle="tooltip"
                                        title="payment payment-visa-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-webmoney-dark"
                                        data-toggle="tooltip" title="payment payment-webmoney-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-westernunion-dark"
                                        data-toggle="tooltip" title="payment payment-westernunion-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-worldpay-dark"
                                        data-toggle="tooltip" title="payment payment-worldpay-dark"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>