<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
  <div class="row clearfix mt-5">
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div>Nombres des utilisateurs</div>
          <div class="py-4 m-0 text-center h1 text-success counter" [from]="0" [CountTo]="8"
               [duration]="1.8"></div>
          <div class="d-flex">
            <div class="ml-auto"><i class="fa fa-caret-up text-success"></i>4%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div>Nombres des administrateurs</div>
          <div class="py-4 m-0 text-center h1 text-info counter" [from]="0" [CountTo]="1"
               [duration]="1.8"></div>
          <div class="d-flex">
            <small class="text-muted"></small>
            <div class="ml-auto"><i class="fa fa-caret-up text-success"></i>2%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div>Nombre des employées</div>
          <div class="py-4 m-0 text-center h1 text-warning counter" [from]="0" [CountTo]="8"
               [duration]="1.8"></div>
          <div class="d-flex">
            <small class="text-muted"></small>
            <div class="ml-auto"><i class="fa fa-caret-up text-success"></i>98%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div>comptes désactivés</div>
          <div class="py-4 m-0 text-center h1 text-danger counter" [from]="0" [CountTo]="7"
               [duration]="1.8"></div>
          <div class="d-flex">
            <small class="text-muted"></small>
            <div class="ml-auto"><i class="fa fa-caret-down text-danger"></i>98%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="section-body fixNavMargin">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link active" id="user-tab" data-toggle="tab"
                            href="javascript:void(0)" (click)="onTab('1')" [ngClass]="{'active': chatTab}">Liste des utilisateur</a></li>
                    <li class="nav-item"><a class="nav-link" id="user-tab" data-toggle="tab" href="javascript:void(0)"
                            (click)="onTab('2')" [ngClass]="{'active': contactTab}">Ajouter un utilisateur</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content mt-3">
                <div class="tab-pane fade" [ngClass]="{'show active': chatTab}" id="user-list" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liste des utilisateur</h3>
                            <div class="card-options">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Rechercher.. " name="s">
                                        <span class="input-group-btn ml-2"><button class="btn btn-sm btn-default"
                                                type="submit"><span class="fe fe-search"></span></button></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table *ngIf="ListUsers" class="table text-center table-striped table-hover table-vcenter text-nowrap mb-0">
                                    <thead>
                                        <tr >
                                            <th class="w60"></th>
                                            <th> Nom et Prenom</th>
                                            <th class=""> Permission</th>
                                            <th class="">Nom d'utilisateur</th>
                                            <th class="">Etat</th>
                                            <th class="w100 ">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let u of user">
                                            <td class="width45">
                                                <span class="avatar avatar-blue" data-toggle="tooltip"
                                                    data-placement="top" title="" data-original-title="Avatar Name"
                                                    tooltip="Avatar Name">{{u.username.charAt(0)}}</span>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">{{u.nomPrenom}}</h6>
                                                <span>{{u.email}}</span>
                                            </td>
                                            <td>
                                        <div class="mb-2" *ngFor="let r of u.roles">
                                              <span *ngIf="r.roleName =='ADMIN'" class="tag tag-info ">Administrateur</span>
                                              <span *ngIf="r.roleName == 'USER'" class="tag tag-default">Employee</span>
                                        </div>
                                            </td >
                                            <td >{{u.username}}</td>
                                            <td ><button class="btn btn-danger btn-sm " (click)="setActive(u, true)" *ngIf="!u.actived"
                                            ><span  class="" style="color:white;">compte désactivé</span></button>
                                              <button class="btn btn-primary btn-sm"  (click)="setActive(u, false)" *ngIf="u.actived"><span style="color:white;">Compte activé</span></button> </td>
                                               <td>
                                          <button type="button" class="btn btn-icon" title="Edit"><i
                                            class="fa fa-edit"></i></button>
                                          <button type="button" (click)="DeleteUser(u)"
                                                  class="btn btn-icon js-sweetalert" title="Delete"
                                                  data-type="confirm"><i
                                            class="fa fa-trash-o text-danger"></i></button>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade"  [ngClass]="{'show active': contactTab}" id="user-add" role="tabpanel">
                  <form #f="ngForm" (ngSubmit)="onAddUser(f.value)">
                    <div class="card">
                        <div class="card-body">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-12 col-sm-12">

                                    <div class="form-group">
                                        <input type="text" [ngClass]="!validUsername?'is-invalid':''" name="username" ngModel class="form-control" placeholder="Nom d'utilisateur">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="email" [ngClass]="!validEmail?'is-invalid':''" name="email" ngModel class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" [ngClass]="!validNom?'is-invalid':''" name="nom" ngModel class="form-control" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" [ngClass]="!validPrenom?'is-invalid':''" ngModel name="prenom" class="form-control" placeholder="Prenom">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="number" [ngClass]="!validNumTel?'is-invalid':''" name="numTel" ngModel class="form-control" placeholder="Numéro de Téléphone">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="password" [ngClass]="!validPassword?'is-invalid':''" ngModel name="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="password" [ngClass]="!validRepass?'is-invalid':''" ngModel name="repass" class="form-control" placeholder="Confirm Password">
                                    </div>
                                </div>
                              <div class=" col-sm-12">
                                <div class="form-group">
                                  <textarea class="form-control" ngModel name="note"  rows="3" placeholder="Notes"></textarea>
                                </div>
                              </div>

                                <div  class="col-12">
                                    <hr   class="mt-4">
                                    <h6>Permission</h6>
                                    <div id="permission" class="table-responsive">
                                        <table class="table table-striped text-center mb--10">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Selectionnée une permission</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Administrateur</td>
                                                    <td>
                                                        <label class="custom-control custom-checkbox">
                                                            <input ngModel name="ADMIN" type="checkbox" class="custom-control-input"
                                                                value="option1" checked="">
                                                            <span class="custom-control-label">&nbsp;</span>
                                                        </label>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Employée</td>
                                                    <td>
                                                        <label class="custom-control custom-checkbox">
                                                            <input  name="USER" ngModel type="checkbox" class="custom-control-input"
                                                                value="option1" checked="">
                                                            <span class="custom-control-label">&nbsp;</span>
                                                        </label>
                                                    </td>
                                                </tr>

                                                <tr>

                                            </tbody>
                                        </table>
                                    </div>
                                  <div class="mt-5 float-lg-right">
                                    <button type="submit" class="btn btn-primary ">Ajouter</button>
                                    <button type="button" (click)="onTab('1')" class="btn btn-secondary ml-1"
                                        data-dismiss="modal">Annuler</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
