<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link active" id="Project-tab" data-toggle="tab"
                            href="javascript:void(0)" (click)="onTab('1')" [ngClass]="{'active': dplistTab}">OnGoing</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="Project-tab" data-toggle="tab"
                            href="javascript:void(0)" (click)="onTab('2')"
                            [ngClass]="{'active': dpgridTab}">UpComing</a></li>
                </ul>
                <div class="header-action d-md-flex">
                    <div class="input-group mr-2">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <button type="button" class="btn btn-primary"><i class="fe fe-plus mr-2"></i>Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade" [ngClass]="{'show active': dplistTab}" id="Project-OnGoing" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="card" [ngClass]="{'card-collapsed': isCollapsed1, '': !isCollapsed1}">
                                <div class="card-header">
                                    <h3 class="card-title">New Admin Design</h3>
                                    <div class="card-options">
                                        <label class="custom-switch m-0">
                                            <input type="checkbox" value="1" class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                        <a (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1"
                                            class="card-options-collapse" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed1">
                                    <span class="tag tag-blue mb-3">Web Design</span>
                                    <p>Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis
                                        temporibus!</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Created:</strong></div>
                                        <div class="col-7 py-1">09 Jun 2019 11:32AM</div>
                                        <div class="col-5 py-1"><strong>Creator:</strong></div>
                                        <div class="col-7 py-1">Nathan Guerrero</div>
                                        <div class="col-5 py-1"><strong>Question:</strong></div>
                                        <div class="col-7 py-1"><strong>23</strong></div>
                                        <div class="col-5 py-1"><strong>Comments:</strong></div>
                                        <div class="col-7 py-1"><strong>32</strong></div>
                                        <div class="col-5 py-1"><strong>Bug:</strong></div>
                                        <div class="col-7 py-1"><strong>5</strong></div>
                                        <div class="col-5 py-1"><strong>Team:</strong></div>
                                        <div class="col-7 py-1">
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar1.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar2.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar3.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar4.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar5.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <span class="avatar avatar-sm">+8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="clearfix">
                                            <div class="float-left"><strong>15%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-red" role="progressbar" style="width: 15%"
                                                aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card" [ngClass]="{'card-collapsed': isCollapsed2, '': !isCollapsed2}">
                                <div class="card-header">
                                    <h3 class="card-title">Job Portal Web App</h3>
                                    <div class="card-options">
                                        <label class="custom-switch m-0">
                                            <input type="checkbox" value="1" class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                        <a (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
                                            class="card-options-collapse" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed2">
                                    <span class="tag tag-pink mb-3">Angular</span>
                                    <p>Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis
                                        temporibus!</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Created:</strong></div>
                                        <div class="col-7 py-1">09 Jun 2019 11:32AM</div>
                                        <div class="col-5 py-1"><strong>Creator:</strong></div>
                                        <div class="col-7 py-1">Nathan Guerrero</div>
                                        <div class="col-5 py-1"><strong>Question:</strong></div>
                                        <div class="col-7 py-1"><strong>55</strong></div>
                                        <div class="col-5 py-1"><strong>Comments:</strong></div>
                                        <div class="col-7 py-1"><strong>43</strong></div>
                                        <div class="col-5 py-1"><strong>Bug:</strong></div>
                                        <div class="col-7 py-1"><strong>5</strong></div>
                                        <div class="col-5 py-1"><strong>Team:</strong></div>
                                        <div class="col-7 py-1">
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar6.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar7.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar8.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar1.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar2.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <span class="avatar avatar-sm">+8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="clearfix">
                                            <div class="float-left"><strong>75%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 75%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card" [ngClass]="{'card-collapsed': isCollapsed3, '': !isCollapsed3}">
                                <div class="card-header">
                                    <h3 class="card-title">App design and Development</h3>
                                    <div class="card-options">
                                        <label class="custom-switch m-0">
                                            <input type="checkbox" value="1" class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                        <a (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3"
                                            class="card-options-collapse" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed3">
                                    <span class="tag tag-green mb-3">Android</span>
                                    <p>Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis
                                        temporibus!</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Created:</strong></div>
                                        <div class="col-7 py-1">09 Jun 2019 11:32AM</div>
                                        <div class="col-5 py-1"><strong>Creator:</strong></div>
                                        <div class="col-7 py-1">Nathan Guerrero</div>
                                        <div class="col-5 py-1"><strong>Question:</strong></div>
                                        <div class="col-7 py-1"><strong>12</strong></div>
                                        <div class="col-5 py-1"><strong>Comments:</strong></div>
                                        <div class="col-7 py-1"><strong>96</strong></div>
                                        <div class="col-5 py-1"><strong>Bug:</strong></div>
                                        <div class="col-7 py-1"><strong>7</strong></div>
                                        <div class="col-5 py-1"><strong>Team:</strong></div>
                                        <div class="col-7 py-1">
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar1.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar2.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar5.jpg"
                                                    data-toggle="tooltip" title="" tooltip="Avatar Name"
                                                    data-original-title="Avatar Name" />
                                                <span class="avatar avatar-sm">+8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="clearfix">
                                            <div class="float-left"><strong>47%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-blue" role="progressbar" style="width: 47%"
                                                aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card" [ngClass]="{'card-collapsed': isCollapsed4, '': !isCollapsed4}">
                                <div class="card-header">
                                    <h3 class="card-title">Job Portal Web App</h3>
                                    <div class="card-options">
                                        <label class="custom-switch m-0">
                                            <input type="checkbox" value="1" class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                        <a (click)="isCollapsed4 = !isCollapsed4" [attr.aria-expanded]="!isCollapsed4"
                                            aria-controls="collapseBasic" class="card-options-collapse"
                                            data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed4">
                                    <span class="tag tag-pink mb-3">Angular</span>
                                    <p>Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis
                                        temporibus!</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Created:</strong></div>
                                        <div class="col-7 py-1">09 Jun 2019 11:32AM</div>
                                        <div class="col-5 py-1"><strong>Creator:</strong></div>
                                        <div class="col-7 py-1">Nathan Guerrero</div>
                                        <div class="col-5 py-1"><strong>Question:</strong></div>
                                        <div class="col-7 py-1"><strong>55</strong></div>
                                        <div class="col-5 py-1"><strong>Comments:</strong></div>
                                        <div class="col-7 py-1"><strong>43</strong></div>
                                        <div class="col-5 py-1"><strong>Bug:</strong></div>
                                        <div class="col-7 py-1"><strong>5</strong></div>
                                        <div class="col-5 py-1"><strong>Team:</strong></div>
                                        <div class="col-7 py-1">
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar6.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar7.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar8.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar1.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar2.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <span class="avatar avatar-sm">+8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="clearfix">
                                            <div class="float-left"><strong>75%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 75%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card" [ngClass]="{'card-collapsed': isCollapsed5, '': !isCollapsed5}">
                                <div class="card-header">
                                    <h3 class="card-title">One Page landing</h3>
                                    <div class="card-options">
                                        <label class="custom-switch m-0">
                                            <input type="checkbox" value="1" class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                        <a (click)="isCollapsed5 = !isCollapsed5" [attr.aria-expanded]="!isCollapsed5"
                                            aria-controls="collapseBasic" class="card-options-collapse"
                                            data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed5">
                                    <span class="tag tag-blue mb-3">Wordpress</span>
                                    <p>Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis
                                        temporibus!</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Created:</strong></div>
                                        <div class="col-7 py-1">09 Jun 2019 11:32AM</div>
                                        <div class="col-5 py-1"><strong>Creator:</strong></div>
                                        <div class="col-7 py-1">Nathan Guerrero</div>
                                        <div class="col-5 py-1"><strong>Question:</strong></div>
                                        <div class="col-7 py-1"><strong>23</strong></div>
                                        <div class="col-5 py-1"><strong>Comments:</strong></div>
                                        <div class="col-7 py-1"><strong>32</strong></div>
                                        <div class="col-5 py-1"><strong>Bug:</strong></div>
                                        <div class="col-7 py-1"><strong>5</strong></div>
                                        <div class="col-5 py-1"><strong>Team:</strong></div>
                                        <div class="col-7 py-1">
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar1.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar2.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar3.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar4.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar5.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <span class="avatar avatar-sm">+8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="clearfix">
                                            <div class="float-left"><strong>17%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-red" role="progressbar" style="width: 17%"
                                                aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card" [ngClass]="{'card-collapsed': isCollapsed6, '': !isCollapsed6}">
                                <div class="card-header">
                                    <h3 class="card-title">Job Portal Web App</h3>
                                    <div class="card-options">
                                        <label class="custom-switch m-0">
                                            <input type="checkbox" value="1" class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                        <a (click)="isCollapsed6 = !isCollapsed6" [attr.aria-expanded]="!isCollapsed6"
                                            class="card-options-collapse" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed6">
                                    <span class="tag tag-gray mb-3">iOS App</span>
                                    <p>Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis
                                        temporibus!</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Created:</strong></div>
                                        <div class="col-7 py-1">09 Jun 2019 11:32AM</div>
                                        <div class="col-5 py-1"><strong>Creator:</strong></div>
                                        <div class="col-7 py-1">Nathan Guerrero</div>
                                        <div class="col-5 py-1"><strong>Question:</strong></div>
                                        <div class="col-7 py-1"><strong>55</strong></div>
                                        <div class="col-5 py-1"><strong>Comments:</strong></div>
                                        <div class="col-7 py-1"><strong>43</strong></div>
                                        <div class="col-5 py-1"><strong>Bug:</strong></div>
                                        <div class="col-7 py-1"><strong>5</strong></div>
                                        <div class="col-5 py-1"><strong>Team:</strong></div>
                                        <div class="col-7 py-1">
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar6.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar7.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar8.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar1.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="../assets/images/xs/avatar2.jpg"
                                                    data-toggle="tooltip" tooltip="Avatar Name" title=""
                                                    data-original-title="Avatar Name" />
                                                <span class="avatar avatar-sm">+8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="clearfix">
                                            <div class="float-left"><strong>81%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 81%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': dpgridTab}" id="Project-UpComing" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-vcenter mb-0">
                                    <thead>
                                        <tr>
                                            <th>Owner</th>
                                            <th>Milestone</th>
                                            <th class="w100">Work</th>
                                            <th class="w100">Duration</th>
                                            <th>Priority</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar1.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>Isidore Dilao</span></td>
                                            <td>Account receivable</td>
                                            <td><span>30:00</span></td>
                                            <td>30:0 hrs</td>
                                            <td><span class="text-warning">Medium</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar2.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>Maricel Villalon</span></td>
                                            <td>Account receivable</td>
                                            <td><span>68:00</span></td>
                                            <td>105:0 hrs</td>
                                            <td><span class="text-danger">High</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar3.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>Theresa Wright</span></td>
                                            <td>Approval site</td>
                                            <td><span>74:00</span></td>
                                            <td>89:0 hrs</td>
                                            <td><span>None</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar4.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>Jason Porter</span></td>
                                            <td>Final touch up</td>
                                            <td><span>30:00</span></td>
                                            <td>30:0 hrs</td>
                                            <td><span>None</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar5.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>Annelyn Mercado</span></td>
                                            <td>Account receivable</td>
                                            <td><span>30:00</span></td>
                                            <td>30:0 hrs</td>
                                            <td><span>None</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar6.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>Sean Black</span></td>
                                            <td>Basement slab preparation</td>
                                            <td><span>88:00</span></td>
                                            <td>88:0 hrs</td>
                                            <td><span>None</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar7.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>Scott Ortega</span></td>
                                            <td>Account receivable</td>
                                            <td><span>56:00</span></td>
                                            <td>125:0 hrs</td>
                                            <td><span class="text-warning">Medium</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/xs/avatar8.jpg" alt="Avatar"
                                                    class="w30 rounded-circle mr-2"> <span>David Wallace</span></td>
                                            <td>Account receivable</td>
                                            <td><span>30:00</span></td>
                                            <td>30:0 hrs</td>
                                            <td><span>None</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>