<!-- #docregion label-position -->
<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <!-- #enddocregion label-position -->
  <mat-step >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Filfdff out your name</ng-template>
    </form>
    <app-test></app-test>
  </mat-step>

</mat-horizontal-stepper>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
