<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card card-profile">
                        <div class="card-body text-center">
                            <img class="card-profile-img" src="../assets/images/sm/avatar1.jpg" alt="" />
                            <h4 class="mb-3">Sara Hopkins</h4>
                            <ul class="social-links list-inline mb-3 mt-2">
                                <li class="list-inline-item"><a href="javascript:void(0)" tooltip="Facebook"
                                        title="Facebook" data-toggle="tooltip"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" tooltip="Twitter"
                                        title="Twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" tooltip="1234567890"
                                        title="1234567890" data-toggle="tooltip"><i class="fa fa-phone"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" tooltip="@skypename"
                                        title="@skypename" data-toggle="tooltip"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <p class="mb-4">Contrary to popular belief, Lorem Ipsum is not simply random text.<br> It
                                has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                old.</p>
                            <button class="btn btn-outline-primary btn-sm"><span class="fa fa-twitter"></span>
                                Follow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body  py-4">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-12">
                    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="pills-calendar-tab" [ngClass]="{'active': CalenderTab}"
                                data-toggle="tab" (click)="onTab('1')" href="javascript:void(0)">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-timeline-tab" [ngClass]="{'active': TimelineTab}"
                                class="nav-link" (click)="onTab('2')" href="javascript:void(0)">Timeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" [ngClass]="{'active': ProfileTab}"
                                class="nav-link" (click)="onTab('3')" href="javascript:void(0)">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-blog-tab" [ngClass]="{'active': BlogTab}" class="nav-link"
                                (click)="onTab('4')" href="javascript:void(0)">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-calendar" [ngClass]="{'show active': CalenderTab}"
                            role="tabpanel" aria-labelledby="pills-calendar-tab">
                            <div class="card" [ngClass]="{'card-fullscreen': isFull}">
                                <div class="card-header bline">
                                    <h3 class="card-title">Calendar</h3>
                                    <div class="card-options">
                                        <a href="javascript:void(0)" (click)="fullScreenSection(1)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0)" id="button-basic" dropdownToggle
                                                data-toggle="dropdown" aria-expanded="false"><i
                                                    class="fe fe-more-vertical"></i></a>
                                            <div id="dropdown-basic" *dropdownMenu role="menu"
                                                aria-labelledby="button-basic" class="dropdown-menu dropdown-menu-right"
                                                x-placement="bottom-end"
                                                style="position: absolute; transform: translate3d(-174px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <app-fullcalender></app-fullcalender>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-timeline" [ngClass]="{'show active': TimelineTab}"
                            role="tabpanel" aria-labelledby="pills-timeline-tab">
                            <div class="card" *ngIf="cardremove2" [ngClass]="{'card-fullscreen': isFull1}"
                                [ngClass]="{'card-collapsed': !isTimelineCollapsed, '': isTimelineCollapsed}">
                                <div class="card-header">
                                    <h3 class="card-title">Activity</h3>
                                    <div class="card-options">
                                        <a class="card-options-collapse" href="javascript:void(0)"
                                            (click)="isTimelineCollapsed = !isTimelineCollapsed"
                                            [attr.aria-expanded]="!isTimelineCollapsed" aria-controls="collapseBasic"
                                            data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0)" (click)="fullScreenSection(2)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" (click)="CardRemoveTrans(2)"
                                            class="card-options-remove" data-toggle="card-remove"><i
                                                class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0);" id="button-basic" dropdownToggle
                                                aria-controls="dropdown-basic" class="dropdown-toggle"
                                                data-toggle="dropdown" role="button" aria-haspopup="true"
                                                aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" id="dropdown-basic"
                                                *dropdownMenu role="menu" aria-labelledby="button-basic">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isTimelineCollapsed">
                                    <div class="timeline_item ">
                                        <img class="tl_avatar" src="../assets/images/xs/avatar1.jpg" alt="" />
                                        <span><a href="javascript:void(0);">Elisse Joson</a> San Francisco, CA <small
                                                class="float-right text-right">20-April-2019 - Today</small></span>
                                        <h6 class="font600">Hello, 'Im a single div responsive timeline without media
                                            Queries!
                                        </h6>
                                        <div class="msg">
                                            <p>I'm speaking with myself, number one, because I have a very good brain
                                                and
                                                I've
                                                said a lot of things. I write the best placeholder text, and I'm the
                                                biggest
                                                developer on the web card she has is the Lorem card.</p>
                                            <a href="javascript:void(0);" class="mr-20 text-muted"><i
                                                    class="fa fa-heart text-pink"></i> 12 Love</a>
                                            <a class="text-muted" role="button" href="javascript:void(0)"
                                                (click)="isCommentCollapsed = !isCommentCollapsed"
                                                [attr.aria-expanded]="!isCommentCollapsed" aria-controls="collapseBasic"
                                                data-toggle="card-collapse"><i class="fa fa-comments"></i> 1 Comment</a>
                                            <div class="collapse p-4 section-gray mt-2" id="collapseBasic"
                                                [collapse]="isCommentCollapsed" [isAnimated]="true">
                                                <form class="well">
                                                    <div class="form-group">
                                                        <textarea rows="2" class="form-control no-resize"
                                                            placeholder="Enter here for tweet..."></textarea>
                                                    </div>
                                                    <button class="btn btn-primary">Submit</button>
                                                </form>
                                                <ul class="recent_comments list-unstyled mt-4 mb-0">
                                                    <li>
                                                        <div class="avatar_img">
                                                            <img class="rounded img-fluid"
                                                                src="../assets/images/xs/avatar4.jpg" alt="">
                                                        </div>
                                                        <div class="comment_body">
                                                            <h6>Donald Gardner <small class="float-right font-14">Just
                                                                    now</small></h6>
                                                            <p>Lorem ipsum Veniam aliquip culpa laboris minim tempor</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_item ">
                                        <img class="tl_avatar" src="../assets/images/xs/avatar4.jpg" alt="" />
                                        <span><a href="javascript:void(0);" title="">Dessie Parks</a> Oakland, CA <small
                                                class="float-right text-right">19-April-2019 - Yesterday</small></span>
                                        <h6 class="font600">Oeehhh, that's awesome.. Me too!</h6>
                                        <div class="msg">
                                            <p>I'm speaking with myself, number one, because I have a very good brain
                                                and
                                                I've
                                                said a lot of things. on the web by far... While that's mock-ups and
                                                this is
                                                politics, are they really so different? I think the only card she has is
                                                the
                                                Lorem card.</p>
                                            <div class="timeline_img mb-20">
                                                <img class="width100" src="../assets/images/gallery/1.jpg"
                                                    alt="Awesome Image">
                                                <img class="width100" src="../assets/images/gallery/2.jpg"
                                                    alt="Awesome Image">
                                            </div>
                                            <a href="javascript:void(0);" class="mr-20 text-muted"><i
                                                    class="fa fa-heart text-pink"></i> 23 Love</a>
                                            <a class="text-muted" role="button" href="javascript:void(0)"
                                                (click)="isCommentCollapsed1 = !isCommentCollapsed1"
                                                [attr.aria-expanded]="!isCommentCollapsed1"
                                                aria-controls="collapseBasic1" data-toggle="card-collapse"><i
                                                    class="fa fa-comments"></i> 2 Comment</a>
                                            <div class="collapse p-4 section-gray mt-2" id="collapseBasic1"
                                                [collapse]="isCommentCollapsed1" [isAnimated]="true">
                                                <form class="well">
                                                    <div class="form-group">
                                                        <textarea rows="2" class="form-control no-resize"
                                                            placeholder="Enter here for tweet..."></textarea>
                                                    </div>
                                                    <button class="btn btn-primary">Submit</button>
                                                </form>
                                                <ul class="recent_comments list-unstyled mt-4 mb-0">
                                                    <li>
                                                        <div class="avatar_img">
                                                            <img class="rounded img-fluid"
                                                                src="../assets/images/xs/avatar4.jpg" alt="">
                                                        </div>
                                                        <div class="comment_body">
                                                            <h6>Donald Gardner <small class="float-right font-14">Just
                                                                    now</small></h6>
                                                            <p>Lorem ipsum Veniam aliquip culpa laboris minim tempor</p>
                                                            <div class="timeline_img mb-20">
                                                                <img class="width150"
                                                                    src="../assets/images/gallery/7.jpg"
                                                                    alt="Awesome Image">
                                                                <img class="width150"
                                                                    src="../assets/images/gallery/8.jpg"
                                                                    alt="Awesome Image">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="avatar_img">
                                                            <img class="rounded img-fluid"
                                                                src="../assets/images/xs/avatar3.jpg" alt="">
                                                        </div>
                                                        <div class="comment_body">
                                                            <h6>Dessie Parks <small class="float-right font-14">1min
                                                                    ago</small>
                                                            </h6>
                                                            <p>It is a long established fact that a reader will be
                                                                distracted by
                                                                the readable content of a page when looking</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_item ">
                                        <img class="tl_avatar" src="../assets/images/xs/avatar7.jpg" alt="" />
                                        <span><a href="javascript:void(0);" title="">Rochelle Barton</a> San Francisco,
                                            CA
                                            <small class="float-right text-right">12-April-2019</small></span>
                                        <h6 class="font600">An Engineer Explains Why You Should Always Order the Larger
                                            Pizza
                                        </h6>
                                        <div class="msg">
                                            <p>I'm speaking with myself, number one, because I have a very good brain
                                                and
                                                I've
                                                said a lot of things. I write the best placeholder text, and I'm the
                                                biggest
                                                developer on the web by far... While that's mock-ups and this is
                                                politics,
                                                is
                                                the Lorem card.</p>
                                            <a href="javascript:void(0);" class="mr-20 text-muted"><i
                                                    class="fa fa-heart text-pink"></i> 7 Love</a>
                                            <a class="text-muted" role="button" href="javascript:void(0)"
                                                (click)="isCommentCollapsed2 = !isCommentCollapsed2"
                                                [attr.aria-expanded]="!isCommentCollapsed2"
                                                aria-controls="collapseBasic2" data-toggle="card-collapse"><i
                                                    class="fa fa-comments"></i> 1 Comment</a>
                                            <div class="collapse p-4 section-gray mt-2" id="collapseBasic2"
                                                [collapse]="isCommentCollapsed2" [isAnimated]="true">
                                                <form class="well">
                                                    <div class="form-group">
                                                        <textarea rows="2" class="form-control no-resize"
                                                            placeholder="Enter here for tweet..."></textarea>
                                                    </div>
                                                    <button class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" [ngClass]="{'show active': ProfileTab}"
                            role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="card" *ngIf="cardremove3" [ngClass]="{'card-fullscreen': isFull2}">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Profile</h3>
                                    <div class="card-options">
                                        <a href="javascript:void(0)" (click)="fullScreenSection(3)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" (click)="CardRemoveTrans(3)"
                                            class="card-options-remove" data-toggle="card-remove"><i
                                                class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0)" id="button-basic" dropdownToggle
                                                data-toggle="dropdown" aria-expanded="false"><i
                                                    class="fe fe-more-vertical"></i></a>
                                            <div id="dropdown-basic" *dropdownMenu role="menu"
                                                aria-labelledby="button-basic" class="dropdown-menu dropdown-menu-right"
                                                x-placement="bottom-end"
                                                style="position: absolute; transform: translate3d(-174px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row clearfix">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">Company</label>
                                                <input type="text" class="form-control" disabled=""
                                                    placeholder="Company" value="Epic Theme">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label">Username</label>
                                                <input type="text" class="form-control" placeholder="Username"
                                                    value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Email address</label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">First Name</label>
                                                <input type="text" class="form-control" placeholder="Company"
                                                    value="Jane">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name"
                                                    value="Pearson">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">Address</label>
                                                <input type="text" class="form-control" placeholder="Home Address"
                                                    value="455 S. Airport St. Moncks Corner">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                                <input type="text" class="form-control" placeholder="City"
                                                    value="New York">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label">Postal Code</label>
                                                <input type="number" class="form-control" placeholder="ZIP Code">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">Country</label>
                                                <select class="form-control custom-select">
                                                    <option value="">USA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group mb-0">
                                                <label class="form-label">About Me</label>
                                                <textarea rows="5" class="form-control"
                                                    placeholder="Here can be your description">Oh so, your weak rhyme You doubt I'll bother, reading into it I'll probably won't, left to my own devices But that's the difference in our opinions.</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary">Update Profile</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-blog" [ngClass]="{'show active': BlogTab}" role="tabpanel"
                            aria-labelledby="pills-blog-tab">
                            <div class="card">
                                <div class="card-body">
                                    <div class="new_post">
                                        <div class="form-group">
                                            <textarea rows="4" class="form-control no-resize"
                                                placeholder="Please type what you want..."></textarea>
                                        </div>
                                        <div class="mt-4 text-right">
                                            <button class="btn btn-warning"><i class="icon-link"></i></button>
                                            <button class="btn btn-warning ml-1"><i class="icon-camera"></i></button>
                                            <button class="btn btn-primary ml-1">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card blog_single_post">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="../assets/images/gallery/6.jpg"
                                        alt="First slide">
                                </div>
                                <div class="card-body">
                                    <h4><a href="javascript:void(0)">All photographs are accurate</a></h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that it has a more-or-less normal</p>
                                </div>
                                <div class="footer">
                                    <div class="actions">
                                        <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue
                                            Reading</a>
                                    </div>
                                    <ul class="stats list-unstyled">
                                        <li><a href="javascript:void(0);">General</a></li>
                                        <li><a href="javascript:void(0);" class="icon-heart"> 28</a></li>
                                        <li><a href="javascript:void(0);" class="icon-bubbles"> 128</a></li>
                                    </ul>
                                </div>
                                <ul class="list-group card-list-group">
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar3.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">4 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                                <div>
                                                    Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula
                                                    porta felis euismod semper. Morbi leo risus, porta ac consectetur
                                                    ac, vestibulum at eros. Cras
                                                    justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum
                                                    id ligula porta felis euismod semper. Cum sociis natoque penatibus
                                                    et magnis dis parturient montes,
                                                    nascetur ridiculus mus.
                                                </div>
                                                <ul class="media-list">
                                                    <li class="media mt-4">
                                                        <img class="media-object avatar mr-4"
                                                            src="../assets/images/xs/avatar1.jpg" alt="" />
                                                        <div class="media-body">
                                                            <strong>Debra Beck: </strong>
                                                            Donec id elit non mi porta gravida at eget metus. Vivamus
                                                            sagittis lacus vel augue laoreet rutrum faucibus dolor
                                                            auctor. Donec ullamcorper nulla non metus
                                                            auctor fringilla. Praesent commodo cursus magna, vel
                                                            scelerisque nisl consectetur et. Sed posuere consectetur est
                                                            at lobortis.
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card blog_single_post">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="../assets/images/gallery/4.jpg"
                                        alt="First slide">
                                </div>
                                <div class="card-body">
                                    <h4><a href="javascript:void(0)">All photographs are accurate</a></h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that it has a more-or-less normal</p>
                                </div>
                                <div class="footer">
                                    <div class="actions">
                                        <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue
                                            Reading</a>
                                    </div>
                                    <ul class="stats list-unstyled">
                                        <li><a href="javascript:void(0);">General</a></li>
                                        <li><a href="javascript:void(0);" class="icon-heart"> 28</a></li>
                                        <li><a href="javascript:void(0);" class="icon-bubbles"> 128</a></li>
                                    </ul>
                                </div>
                                <ul class="list-group card-list-group">
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar7.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">12 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                                <div>
                                                    Donec id elit non mi porta gravida at eget metus. Integer posuere
                                                    erat a ante venenatis dapibus posuere velit aliquet. Cum sociis
                                                    natoque penatibus et magnis dis
                                                    parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac
                                                    consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar6.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">34 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                                <div>
                                                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                                                    ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque
                                                    ornare sem lacinia quam
                                                    venenatis vestibulum. Etiam porta sem malesuada magna mollis
                                                    euismod. Donec sed odio dui.
                                                </div>
                                                <ul class="media-list">
                                                    <li class="media mt-4">
                                                        <img class="media-object avatar mr-4"
                                                            src="../assets/images/xs/avatar5.jpg" alt="" />
                                                        <div class="media-body">
                                                            <strong>Wayne Holland: </strong>
                                                            Donec id elit non mi porta gravida at eget metus. Vivamus
                                                            sagittis lacus vel augue laoreet rutrum faucibus dolor
                                                            auctor. Donec ullamcorper nulla non metus
                                                            auctor fringilla. Praesent commodo cursus magna, vel
                                                            scelerisque nisl consectetur et. Sed posuere consectetur est
                                                            at lobortis.
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="widgets1">
                                <div class="icon">
                                    <i class="icon-trophy text-success font-30"></i>
                                </div>
                                <div class="details">
                                    <h6 class="mb-0 font600">Total Earned</h6>
                                    <span class="mb-0">$96K +</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="widgets1">
                                <div class="icon">
                                    <i class="icon-heart text-warning font-30"></i>
                                </div>
                                <div class="details">
                                    <h6 class="mb-0 font600">Total Likes</h6>
                                    <span class="mb-0">6,270</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="widgets1">
                                <div class="icon">
                                    <i class="icon-handbag text-danger font-30"></i>
                                </div>
                                <div class="details">
                                    <h6 class="mb-0 font600">Delivered</h6>
                                    <span class="mb-0">720 Delivered</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="widgets1">
                                <div class="icon">
                                    <i class="icon-user text-primary font-30"></i>
                                </div>
                                <div class="details">
                                    <h6 class="mb-0 font600">Jobs</h6>
                                    <span class="mb-0">614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" *ngIf="cardremove1" [ngClass]="{'card-collapsed': !isCollapsed, '': isCollapsed}">
                        <div class="card-header">
                            <h3 class="card-title">Followers</h3>
                            <div class="card-options">
                                <a href="javascript:void(0)" class="card-options-collapse"
                                    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                                    aria-controls="collapseBasic" data-toggle="card-collapse"><i
                                        class="fe fe-chevron-up"></i></a>
                                <a href="javascript:void(0)" (click)="CardRemoveTrans(1)" class="card-options-remove"
                                    data-toggle="card-remove"><i class="fe fe-x"></i></a>
                            </div>
                        </div>
                        <div class="card-body" id="collapseBasic" [collapse]="isCollapsed">
                            <ul class="right_chat list-unstyled mb-0">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Donald Gardner</span>
                                                <span class="message">Designer, Blogger</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Nancy Flanary</span>
                                                <span class="message">Art director, Movie Cut</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Phillip Smith</span>
                                                <span class="message">Writter, Mag Editor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Donald Gardner</span>
                                                <span class="message">Designer, Blogger</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Nancy Flanary</span>
                                                <span class="message">Art director, Movie Cut</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Phillip Smith</span>
                                                <span class="message">Writter, Mag Editor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>