<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card card-profile">
                        <div class="card-body "><div class="text-center">
                            <img class="card-profile-img  " *ngIf="image" src="http://localhost:8080/photoUser/{{user.id}}?ts={{getTS()}}" alt="" />
                          <h4 class="mb-3 text-center">{{user.nom}} {{user.prenom}}</h4>
                          <ul class="social-links list-inline mb-3 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" tooltip="Facebook"
                                                            title="Facebook" data-toggle="tooltip"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" tooltip="Twitter"
                                                            title="Twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" tooltip="1234567890"
                                                            title="1234567890" data-toggle="tooltip"><i class="fa fa-phone"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" tooltip="@skypename"
                                                            title="@skypename" data-toggle="tooltip"><i class="fa fa-skype"></i></a></li>
                          </ul>
                          <p class="mb-4">{{user.note}}</p>

                        </div>
                          <h5>Nom d'utilisateur :<h6>{{user.username}}</h6></h5>
                          <h5>Email :<h6>{{user.email}}</h6></h5>
                          <h5>Adresse : <h6>{{user.adresse}}</h6></h5>
                          <h5>Numéro de téléphone : <h6>{{user.numTel}}</h6></h5>
                          <h5>Post : <h6>{{user.post}}</h6></h5>
                          <h5>Sexe : <h6>{{user.sexe}}</h6></h5>
                          <h5>Roles : <div *ngFor="let r of user.roles"><span *ngIf="r.roleName =='ADMIN'" class="tag tag-info ">Administrateur</span>
                            <span *ngIf="r.roleName == 'USER'" class="tag tag-default">Employee</span></div></h5>
                          <div class="text-center">
                          <button (click)="onProfileChange()" class="btn btn-outline-primary btn-sm mr-3">
                            Modifier mon profil</button><button (click)="changePassword()" class="btn btn-outline-primary btn-sm ">
                            Changer mon mot de passe</button>
</div>                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body  py-4">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-12">
                    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="pills-calendar-tab" [ngClass]="{'active': CalenderTab}"-->
<!--                                data-toggle="tab" (click)="onTab('1')" href="javascript:void(0)">Calendar</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="pills-timeline-tab" [ngClass]="{'active': TimelineTab}"-->
<!--                                class="nav-link" (click)="onTab('2')" href="javascript:void(0)">Timeline</a>-->
<!--                        </li>-->
                        <li class="nav-item" *ngIf="onProfileChangeTab">
                            <a class="nav-link" id="pills-profile-tab" [ngClass]="{'active': ProfileTab}"
                                class="nav-link" (click)="onTab('3')" href="javascript:void(0)">Modifier mon profil ({{user.nom}} {{user.prenom}})</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="pills-blog-tab" [ngClass]="{'active': BlogTab}" class="nav-link"-->
<!--                                (click)="onTab('4')" href="javascript:void(0)">Blog</a>-->
<!--                        </li>-->
                    </ul>
                </div>
                <div class="col-lg-12 col-sm-6">
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade" id="pills-timeline" [ngClass]="{'show active': TimelineTab}"
                            role="tabpanel" aria-labelledby="pills-timeline-tab">
                            <div class="card" *ngIf="cardremove2" [ngClass]="{'card-fullscreen': isFull1}"
                                [ngClass]="{'card-collapsed': !isTimelineCollapsed, '': isTimelineCollapsed}">
                                <div class="card-header">
                                    <h3 class="card-title">Activity</h3>
                                    <div class="card-options">
                                        <a class="card-options-collapse" href="javascript:void(0)"
                                            (click)="isTimelineCollapsed = !isTimelineCollapsed"
                                            [attr.aria-expanded]="!isTimelineCollapsed" aria-controls="collapseBasic"
                                            data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0)" (click)="fullScreenSection(2)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" (click)="CardRemoveTrans(2)"
                                            class="card-options-remove" data-toggle="card-remove"><i
                                                class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0);" id="button-basic" dropdownToggle
                                                aria-controls="dropdown-basic" class="dropdown-toggle"
                                                data-toggle="dropdown" role="button" aria-haspopup="true"
                                                aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" id="dropdown-basic"
                                                *dropdownMenu role="menu" aria-labelledby="button-basic">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isTimelineCollapsed">
                                    <div class="timeline_item ">
                                        <img class="tl_avatar" src="../assets/images/xs/avatar1.jpg" alt="" />
                                        <span><a href="javascript:void(0);">Elisse Joson</a> San Francisco, CA <small
                                                class="float-right text-right">20-April-2019 - Today</small></span>
                                        <h6 class="font600">Hello, 'Im a single div responsive timeline without media
                                            Queries!
                                        </h6>
                                        <div class="msg">
                                            <p>I'm speaking with myself, number one, because I have a very good brain
                                                and
                                                I've
                                                said a lot of things. I write the best placeholder text, and I'm the
                                                biggest
                                                developer on the web card she has is the Lorem card.</p>
                                            <a href="javascript:void(0);" class="mr-20 text-muted"><i
                                                    class="fa fa-heart text-pink"></i> 12 Love</a>
                                            <a class="text-muted" role="button" href="javascript:void(0)"
                                                (click)="isCommentCollapsed = !isCommentCollapsed"
                                                [attr.aria-expanded]="!isCommentCollapsed" aria-controls="collapseBasic"
                                                data-toggle="card-collapse"><i class="fa fa-comments"></i> 1 Comment</a>
                                            <div class="collapse p-4 section-gray mt-2" id="collapseBasic"
                                                [collapse]="isCommentCollapsed" [isAnimated]="true">
                                                <form class="well">
                                                    <div class="form-group">
                                                        <textarea rows="2" class="form-control no-resize"
                                                            placeholder="Enter here for tweet..."></textarea>
                                                    </div>
                                                    <button class="btn btn-primary">Submit</button>
                                                </form>
                                                <ul class="recent_comments list-unstyled mt-4 mb-0">
                                                    <li>
                                                        <div class="avatar_img">
                                                            <img class="rounded img-fluid"
                                                                src="../assets/images/xs/avatar4.jpg" alt="">
                                                        </div>
                                                        <div class="comment_body">
                                                            <h6>Donald Gardner <small class="float-right font-14">Just
                                                                    now</small></h6>
                                                            <p>Lorem ipsum Veniam aliquip culpa laboris minim tempor</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_item ">
                                        <img class="tl_avatar" src="../assets/images/xs/avatar4.jpg" alt="" />
                                        <span><a href="javascript:void(0);" title="">Dessie Parks</a> Oakland, CA <small
                                                class="float-right text-right">19-April-2019 - Yesterday</small></span>
                                        <h6 class="font600">Oeehhh, that's awesome.. Me too!</h6>
                                        <div class="msg">
                                            <p>I'm speaking with myself, number one, because I have a very good brain
                                                and
                                                I've
                                                said a lot of things. on the web by far... While that's mock-ups and
                                                this is
                                                politics, are they really so different? I think the only card she has is
                                                the
                                                Lorem card.</p>
                                            <div class="timeline_img mb-20">
                                                <img class="width100" src="../assets/images/gallery/1.jpg"
                                                    alt="Awesome Image">
                                                <img class="width100" src="../assets/images/gallery/2.jpg"
                                                    alt="Awesome Image">
                                            </div>
                                            <a href="javascript:void(0);" class="mr-20 text-muted"><i
                                                    class="fa fa-heart text-pink"></i> 23 Love</a>
                                            <a class="text-muted" role="button" href="javascript:void(0)"
                                                (click)="isCommentCollapsed1 = !isCommentCollapsed1"
                                                [attr.aria-expanded]="!isCommentCollapsed1"
                                                aria-controls="collapseBasic1" data-toggle="card-collapse"><i
                                                    class="fa fa-comments"></i> 2 Comment</a>
                                            <div class="collapse p-4 section-gray mt-2" id="collapseBasic1"
                                                [collapse]="isCommentCollapsed1" [isAnimated]="true">
                                                <form class="well">
                                                    <div class="form-group">
                                                        <textarea rows="2" class="form-control no-resize"
                                                            placeholder="Enter here for tweet..."></textarea>
                                                    </div>
                                                    <button class="btn btn-primary">Submit</button>
                                                </form>
                                                <ul class="recent_comments list-unstyled mt-4 mb-0">
                                                    <li>
                                                        <div class="avatar_img">
                                                            <img class="rounded img-fluid"
                                                                src="../assets/images/xs/avatar4.jpg" alt="">
                                                        </div>
                                                        <div class="comment_body">
                                                            <h6>Donald Gardner <small class="float-right font-14">Just
                                                                    now</small></h6>
                                                            <p>Lorem ipsum Veniam aliquip culpa laboris minim tempor</p>
                                                            <div class="timeline_img mb-20">
                                                                <img class="width150"
                                                                    src="../assets/images/gallery/7.jpg"
                                                                    alt="Awesome Image">
                                                                <img class="width150"
                                                                    src="../assets/images/gallery/8.jpg"
                                                                    alt="Awesome Image">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="avatar_img">
                                                            <img class="rounded img-fluid"
                                                                src="../assets/images/xs/avatar3.jpg" alt="">
                                                        </div>
                                                        <div class="comment_body">
                                                            <h6>Dessie Parks <small class="float-right font-14">1min
                                                                    ago</small>
                                                            </h6>
                                                            <p>It is a long established fact that a reader will be
                                                                distracted by
                                                                the readable content of a page when looking</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_item ">
                                        <img class="tl_avatar" src="../assets/images/xs/avatar7.jpg" alt="" />
                                        <span><a href="javascript:void(0);" title="">Rochelle Barton</a> San Francisco,
                                            CA
                                            <small class="float-right text-right">12-April-2019</small></span>
                                        <h6 class="font600">An Engineer Explains Why You Should Always Order the Larger
                                            Pizza
                                        </h6>
                                        <div class="msg">
                                            <p>I'm speaking with myself, number one, because I have a very good brain
                                                and
                                                I've
                                                said a lot of things. I write the best placeholder text, and I'm the
                                                biggest
                                                developer on the web by far... While that's mock-ups and this is
                                                politics,
                                                is
                                                the Lorem card.</p>
                                            <a href="javascript:void(0);" class="mr-20 text-muted"><i
                                                    class="fa fa-heart text-pink"></i> 7 Love</a>
                                            <a class="text-muted" role="button" href="javascript:void(0)"
                                                (click)="isCommentCollapsed2 = !isCommentCollapsed2"
                                                [attr.aria-expanded]="!isCommentCollapsed2"
                                                aria-controls="collapseBasic2" data-toggle="card-collapse"><i
                                                    class="fa fa-comments"></i> 1 Comment</a>
                                            <div class="collapse p-4 section-gray mt-2" id="collapseBasic2"
                                                [collapse]="isCommentCollapsed2" [isAnimated]="true">
                                                <form class="well">
                                                    <div class="form-group">
                                                        <textarea rows="2" class="form-control no-resize"
                                                            placeholder="Enter here for tweet..."></textarea>
                                                    </div>
                                                    <button class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" [ngClass]="{'show active': ProfileTab}"
                            role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="card" *ngIf="cardremove3" [ngClass]="{'card-fullscreen': isFull2}">
                                <div class="card-header">
                                    <h3 class="card-title">Modifier mon profil</h3>
                                    <div class="card-options">
                                        <a href="javascript:void(0)" (click)="fullScreenSection(3)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="">
                                      <form *ngIf="user" [formGroup]="editForm" (ngSubmit)="onUpdateUser()">
                                        <div class="card">
                                          <div class="card-body">
                                            <div class="col clearfix">
                                              <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                  <label for="nom" >Photo de profil </label> <br>
                                                  <input type="file"   class="form-control" (change)="onSelectedFile($event.target)">
                                                </div>
                                              </div>
                                              <div  class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                  <label for="username1" >Nom d'utilisateur</label> <br>
                                                  <input type="email" id="username1" formControlName="username" name="username1"  class="form-control" readonly >
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('username')?.errors?.required">
                                                    Ce champs est obligatoire
                                                  </small>
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('username')?.errors?.maxlength">
                                                    Vous avez dépasser la taille maximale de ce champs
                                                  </small>
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('username')?.errors?.minlength">
                                                    ce champs doit avoir au minimum 3 caractéres
                                                  </small>
                                                </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                  <label for="nom" >Nom </label> <br>
                                                  <input type="text" id="nom" name="nom"  class="form-control" formControlName="nom">
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('nom')?.errors?.maxlength">
                                                    Vous avez dépasser la taille maximal de ce champs
                                                  </small>
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('nom')?.errors?.minlength">
                                                    ce champs doit contient 3 caractéres au minimum 3 caractéres
                                                  </small>
                                                </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                  <label for="prenom" >Prénom </label> <br>
                                                  <input type="text"  id="prenom" name="prenom" class="form-control" formControlName="prenom">
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('prenom')?.errors?.maxlength">
                                                    Vous avez dépasser la taille maximal de ce champs
                                                  </small>
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('prenom')?.errors?.minlength">
                                                    ce champs doit contient 3 caractéres au minimum 3 caractéres
                                                  </small>
                                                </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                  <label for="email" >Email </label> <br>
                                                  <input type="email" id="email"  name="email"  class="form-control" formControlName="email">
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('email')?.errors?.email">
                                                    ce champs est invalide
                                                  </small>
                                                </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                  <label for="email" >Adreese </label> <br>
                                                  <input type="text" id="adresse"  name="adress"  class="form-control" formControlName="adresse">
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('adresse')?.errors?.email">
                                                    ce champs est invalide
                                                  </small>
                                                </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                  <label for="numtel" >Numéro de téléphone</label> <br>
                                                  <input type="number"  id="numtel" name="numTel" class="form-control" formControlName="tel">
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('tel')?.errors?.minlength">
                                                    le numéro de téléphone doit etre composée de 8 chiffre
                                                  </small>
                                                </div>
                                              </div>

                                              <div>
                                                <div class="form-group">
                                                  <label for="sexe">Choisir </label>  <br>
                                                  <select formControlName="sexe" id="sexe" class="col-lg-6 col-md-6 col-sm-12" name="sexe">
                                                    <option value="homme">Homme</option>
                                                    <option value="saab">Femme</option>
                                                  </select>
                                                </div>
                                              </div>
                                              <div class=" col-sm-12">
                                                <div class="form-group">
                                                  <label  for="notes" >Note sur l'utilisateur</label>
                                                  <textarea class="form-control"formControlName="note" name="note" id="notes" rows="3">{{user.note}}</textarea>
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('note')?.errors?.minlength">
                                                    ce champs doit contient 3 caractéres au minimum 3 caractéres
                                                  </small>
                                                  <small class="form-text text-danger"
                                                         *ngIf="editForm.get('note')?.errors?.maxlength">
                                                    vous avez dépassé la taille maximal de ce champs !
                                                  </small>
                                                </div>

                                              </div>

                                            </div>
                                            <div class="card-footer text-right">
                                              <button type="submit" class="btn btn-primary ">Modifier</button>
                                              <button type="button" (click)="onTab('1')" class="btn btn-secondary ml-1"
                                                      data-dismiss="modal">Annuler</button></div>
                                          </div>
                                            </div>

                                      </form>    </div>
                            </div>
                            </div></div>
                        <div class="tab-pane fade" id="pills-blog" [ngClass]="{'show active': BlogTab}" role="tabpanel"
                            aria-labelledby="pills-blog-tab">
                            <div class="card">
                                <div class="card-body">
                                    <div class="new_post">
                                        <div class="form-group">
                                            <textarea rows="4" class="form-control no-resize"
                                                placeholder="Please type what you want..."></textarea>
                                        </div>
                                        <div class="mt-4 text-right">
                                            <button class="btn btn-warning"><i class="icon-link"></i></button>
                                            <button class="btn btn-warning ml-1"><i class="icon-camera"></i></button>
                                            <button class="btn btn-primary ml-1">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card blog_single_post">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="../assets/images/gallery/6.jpg"
                                        alt="First slide">
                                </div>
                                <div class="card-body">
                                    <h4><a href="javascript:void(0)">All photographs are accurate</a></h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that it has a more-or-less normal</p>
                                </div>
                                <div class="footer">
                                    <div class="actions">
                                        <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue
                                            Reading</a>
                                    </div>
                                    <ul class="stats list-unstyled">
                                        <li><a href="javascript:void(0);">General</a></li>
                                        <li><a href="javascript:void(0);" class="icon-heart"> 28</a></li>
                                        <li><a href="javascript:void(0);" class="icon-bubbles"> 128</a></li>
                                    </ul>
                                </div>
                                <ul class="list-group card-list-group">
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar3.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">4 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                                <div>
                                                    Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula
                                                    porta felis euismod semper. Morbi leo risus, porta ac consectetur
                                                    ac, vestibulum at eros. Cras
                                                    justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum
                                                    id ligula porta felis euismod semper. Cum sociis natoque penatibus
                                                    et magnis dis parturient montes,
                                                    nascetur ridiculus mus.
                                                </div>
                                                <ul class="media-list">
                                                    <li class="media mt-4">
                                                        <img class="media-object avatar mr-4"
                                                            src="../assets/images/xs/avatar1.jpg" alt="" />
                                                        <div class="media-body">
                                                            <strong>Debra Beck: </strong>
                                                            Donec id elit non mi porta gravida at eget metus. Vivamus
                                                            sagittis lacus vel augue laoreet rutrum faucibus dolor
                                                            auctor. Donec ullamcorper nulla non metus
                                                            auctor fringilla. Praesent commodo cursus magna, vel
                                                            scelerisque nisl consectetur et. Sed posuere consectetur est
                                                            at lobortis.
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card blog_single_post">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="../assets/images/gallery/4.jpg"
                                        alt="First slide">
                                </div>
                                <div class="card-body">
                                    <h4><a href="javascript:void(0)">All photographs are accurate</a></h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that it has a more-or-less normal</p>
                                </div>
                                <div class="footer">
                                    <div class="actions">
                                        <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue
                                            Reading</a>
                                    </div>
                                    <ul class="stats list-unstyled">
                                        <li><a href="javascript:void(0);">General</a></li>
                                        <li><a href="javascript:void(0);" class="icon-heart"> 28</a></li>
                                        <li><a href="javascript:void(0);" class="icon-bubbles"> 128</a></li>
                                    </ul>
                                </div>
                                <ul class="list-group card-list-group">
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar7.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">12 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                                <div>
                                                    Donec id elit non mi porta gravida at eget metus. Integer posuere
                                                    erat a ante venenatis dapibus posuere velit aliquet. Cum sociis
                                                    natoque penatibus et magnis dis
                                                    parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac
                                                    consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar6.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">34 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                                <div>
                                                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                                                    ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque
                                                    ornare sem lacinia quam
                                                    venenatis vestibulum. Etiam porta sem malesuada magna mollis
                                                    euismod. Donec sed odio dui.
                                                </div>
                                                <ul class="media-list">
                                                    <li class="media mt-4">
                                                        <img class="media-object avatar mr-4"
                                                            src="../assets/images/xs/avatar5.jpg" alt="" />
                                                        <div class="media-body">
                                                            <strong>Wayne Holland: </strong>
                                                            Donec id elit non mi porta gravida at eget metus. Vivamus
                                                            sagittis lacus vel augue laoreet rutrum faucibus dolor
                                                            auctor. Donec ullamcorper nulla non metus
                                                            auctor fringilla. Praesent commodo cursus magna, vel
                                                            scelerisque nisl consectetur et. Sed posuere consectetur est
                                                            at lobortis.
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                                        </div>
          <app-footer></app-footer>

                        </div>
                    </div>
                </div>



