<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body fixNavMargin">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" id="Payroll-tab" data-toggle="tab"
                            href="javascript:void(0)" (click)="onTab('1')" [ngClass]="{'active': dplistTab}">Employee
                            Salary</a></li>
                    <li class="nav-item"><a class="nav-link" id="Payroll-tab" data-toggle="tab"
                            href="javascript:void(0)" (click)="onTab('2')" [ngClass]="{'active': dpgridTab}">Payslip</a>
                    </li>

                </ul>
                <div class="header-action">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i
                            class="fe fe-plus mr-2"></i>Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content mt-3">
                <div class="tab-pane fade" [ngClass]="{'show active': dplistTab}" id="Payroll-Salary" role="tabpanel">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Web Developer</h6>
                                    <h3 class="pt-3">$<span class="counter" [from]="0" [CountTo]="18960"
                                            [duration]="0.9"></span></h3>
                                    <span><span class="text-danger mr-2"><i class="fa fa-long-arrow-down"></i>
                                            5.27%</span> Since last month</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h6>App Developer</h6>
                                    <h3 class="pt-3">$<span class="counter" [from]="0" [CountTo]="11783"
                                            [duration]="0.9"></span></h3>
                                    <span><span class="text-success mr-2"><i class="fa fa-long-arrow-up"></i>
                                            11.38%</span> Since last month</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Designer</h6>
                                    <h3 class="pt-3">$<span class="counter" [from]="0" [CountTo]="2254"
                                            [duration]="0.9"></span></h3>
                                    <span><span class="text-success mr-2"><i class="fa fa-long-arrow-up"></i>
                                            9.61%</span> Since last month</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Marketing</h6>
                                    <h3 class="pt-3">$<span class="counter" [from]="0" [CountTo]="8751"
                                            [duration]="0.9"></span></h3>
                                    <span><span class="text-danger mr-2"><i class="fa fa-long-arrow-down"></i>
                                            2.27%</span> Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Employee</h3>
                            <div class="card-options">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Search something..." name="s">
                                        <span class="input-group-btn ml-2"><button class="btn btn-icon"
                                                type="submit"><span class="fe fe-search"></span></button></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-vcenter text-nowrap">
                                    <thead>
                                        <tr>
                                            <th style="width: 20px;">#</th>
                                            <th>Employee</th>
                                            <th class="w200">Role</th>
                                            <th class="w60">Salary</th>
                                            <th class="w60">Status</th>
                                            <th class="w200">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>01</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar avatar-pink" data-toggle="tooltip"
                                                        data-placement="top" tooltip="Avatar Name"
                                                        title="Avatar Name">WH</span>
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">South Shyanne</a>
                                                        <p class="mb-0">south.shyanne@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Web Developer</td>
                                            <td>$1200</td>
                                            <td><span class="tag tag-success ml-0 mr-0">Done</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>02</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="avatar" tooltip="Avatar Name"
                                                        src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                                                        data-placement="top" title="Avatar Name" alt="Avatar" />
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Zoe Baker</a>
                                                        <p class="mb-0">zoe.baker@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Graphics Desgber</td>
                                            <td>$378</td>
                                            <td><span class="tag tag-success ml-0 mr-0">Done</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>03</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar avatar-blue" data-toggle="tooltip"
                                                        data-placement="top" tooltip="Avatar Name"
                                                        title="Avatar Name">WH</span>
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Colin Brown</a>
                                                        <p class="mb-0">colinbrown@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>HTML Developer</td>
                                            <td>$653</td>
                                            <td><span class="tag tag-success ml-0 mr-0">Done</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>04</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar avatar-green" data-toggle="tooltip"
                                                        data-placement="top" tooltip="Avatar Name"
                                                        title="Avatar Name">WH</span>
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Kevin Gill</a>
                                                        <p class="mb-0">kevin.gill@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Mobile</td>
                                            <td>$451</td>
                                            <td><span class="tag tag-warning  ml-0 mr-0">Panding</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>05</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="avatar" src="../assets/images/xs/avatar2.jpg"
                                                        data-toggle="tooltip" tooltip="Avatar Name" data-placement="top"
                                                        title="Avatar Name" alt="Avatar" />
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Brandon Smith</a>
                                                        <p class="mb-0">Maria.gill@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>VueJs FrontEnd</td>
                                            <td>$1,989</td>
                                            <td><span class="tag tag-success  ml-0 mr-0">Done</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>06</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="avatar" src="../assets/images/xs/avatar3.jpg"
                                                        data-toggle="tooltip" tooltip="Avatar Name" data-placement="top"
                                                        title="Avatar Name" alt="Avatar" />
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Kevin Baker</a>
                                                        <p class="mb-0">kevin.baker@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Java Developer</td>
                                            <td>$343</td>
                                            <td><span class="tag tag-warning  ml-0 mr-0">Panding</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>07</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="avatar" src="../assets/images/xs/avatar4.jpg"
                                                        data-toggle="tooltip" tooltip="Avatar Name" data-placement="top"
                                                        title="Avatar Name" alt="Avatar" />
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Colin Brown</a>
                                                        <p class="mb-0">colin-brown@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Designer</td>
                                            <td>$653</td>
                                            <td><span class="tag tag-success ml-0 mr-0">Done</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>08</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="avatar" src="../assets/images/xs/avatar5.jpg"
                                                        data-toggle="tooltip" tooltip="Avatar Name" data-placement="top"
                                                        title="Avatar Name" alt="Avatar" />
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Kevin Gill</a>
                                                        <p class="mb-0">kevin-gill@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Team Leader</td>
                                            <td>$451</td>
                                            <td><span class="tag tag-warning  ml-0 mr-0">Panding</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>09</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar avatar-green" data-toggle="tooltip"
                                                        data-placement="top" tooltip="Avatar Name"
                                                        title="Avatar Name">WH</span>
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Kevin Gill</a>
                                                        <p class="mb-0">kevin.gill@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Mobile</td>
                                            <td>$451</td>
                                            <td><span class="tag tag-warning  ml-0 mr-0">Panding</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>10</span>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="avatar" src="../assets/images/xs/avatar7.jpg"
                                                        data-toggle="tooltip" tooltip="Avatar Name" data-placement="top"
                                                        title="Avatar Name" alt="Avatar" />
                                                    <div class="ml-3">
                                                        <a href="javascript:void(0);" title="">Brandon Smith</a>
                                                        <p class="mb-0">Maria.gill@example.com</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>VueJs FrontEnd</td>
                                            <td>$1,989</td>
                                            <td><span class="tag tag-success  ml-0 mr-0">Done</span></td>
                                            <td>
                                                <button type="button" class="btn btn-icon" title="Send Invoice"
                                                    data-toggle="tooltip" tooltip="Send Invoice" data-placement="top"><i
                                                        class="icon-envelope text-info"></i></button>
                                                <button type="button" class="btn btn-icon " title="Print"
                                                    data-toggle="tooltip" tooltip="Print" data-placement="top"><i
                                                        class="icon-printer"></i></button>
                                                <button type="button" class="btn btn-icon" title="Delete"
                                                    data-toggle="tooltip" tooltip="Delete" data-placement="top"><i
                                                        class="icon-trash text-danger"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination mb-0 justify-content-end">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': dpgridTab}" id="Payroll-Payslip" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <div class="media mb-4">
                                <div class="mr-3">
                                    <img class="rounded" src="../assets/images/xs/avatar4.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="content">
                                        <span><strong>Order ID: </strong> C09</span>
                                        <p class="h5">John Smith <small class="float-right badge badge-primary">Jun 15,
                                                2019</small></p>
                                        <p>795 Folsom Ave, Suite 546 San Francisco, CA 54656</p>
                                    </div>
                                    <nav class="d-flex text-muted">
                                        <a href="javascript:void(0);" class="icon mr-3"><i
                                                class="icon-envelope text-info"></i></a>
                                        <a href="javascript:void(0);" class="icon mr-3"><i class="icon-printer"></i></a>
                                    </nav>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-vcenter">
                                    <thead class="dark-mode">
                                        <tr>
                                            <th class="w60">#</th>
                                            <th></th>
                                            <th class="w100">Earnings</th>
                                            <th class="w100">Deductions</th>
                                            <th class="w100 text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01</td>
                                            <td>
                                                <span>Basic Salary</span>
                                            </td>
                                            <td>$1,500</td>
                                            <td>-</td>
                                            <td class="text-right">$380</td>
                                        </tr>
                                        <tr>
                                            <td>02</td>
                                            <td>
                                                <span>House Rent Allowance (H.R.A.)</span>
                                            </td>
                                            <td>$62</td>
                                            <td>-</td>
                                            <td class="text-right">$250</td>
                                        </tr>
                                        <tr>
                                            <td>03</td>
                                            <td>
                                                <span>Tax Deducted at Source (T.D.S.)</span>
                                            </td>
                                            <td>-</td>
                                            <td>$80</td>
                                            <td class="text-right">$120</td>
                                        </tr>
                                        <tr>
                                            <td>04</td>
                                            <td>
                                                <span>C/Bank Loan</span>
                                            </td>
                                            <td>-</td>
                                            <td>$120</td>
                                            <td class="text-right">$120</td>
                                        </tr>
                                        <tr>
                                            <td>05</td>
                                            <td>
                                                <span>Other Allowance</span>
                                            </td>
                                            <td>$121</td>
                                            <td>-</td>
                                            <td class="text-right">$120</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2"><span><strong>Note:</strong> Ipsum is simply dummy text of
                                                    the printing and typesetting industry.</span></td>
                                            <td>$1683</td>
                                            <td>$200</td>
                                            <td class="text-right">
                                                <strong class="text-success">$1483.00</strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <button class="btn btn-info float-right"><i class="icon-printer"></i> Print</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>