<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>

    <div class="section-body">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Apex Chart</a></li>
                </ul>
                <div class="header-action">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i
                            class="fe fe-plus mr-2"></i>Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <app-sparklines></app-sparklines>
                            <!-- <div id="apexspark1"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <app-sparklines></app-sparklines>
                            <!-- <div id="apexspark2"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <app-sparklines></app-sparklines>
                            <!-- <div id="apexspark3"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row clearfix">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="apexspark-chart1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="apexspark-chart2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="apexspark-chart3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="apexspark-chart4"></div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row clearfix">
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Stacked Area</h3>
                        </div>
                        <div class="card-body">
                            <app-line-chart></app-line-chart>
                            <!-- <div id="apex-stacked-area"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Area Datetime</h3>
                            <div class="card-options">
                                <button class="btn btn-sm btn-outline-secondary mr-1" id="one_month">1M</button>
                                <button class="btn btn-sm btn-outline-secondary mr-1" id="six_months">6M</button>
                                <button class="btn btn-sm btn-outline-secondary mr-1" id="one_year">1Y</button>
                                <button class="btn btn-sm btn-outline-secondary mr-1" id="ytd">YTD</button>
                                <button class="btn btn-sm btn-outline-secondary" id="all">ALL</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <app-area-chart></app-area-chart>
                            <!-- <div id="apex-timeline-chart"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Basic Heatmap Chart</h3>
                        </div>
                        <div class="card-body">
                            <app-heatmap-chart></app-heatmap-chart>
                            <!-- <div id="apex-basic-heatmap"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Basic Column</h3>
                        </div>
                        <div class="card-body">
                            <app-column-chart></app-column-chart>
                            <!-- <div id="apex-basic-column"></div> -->
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Basic CandleStick</h3>
                        </div>
                        <div class="card-body">
                            <app-candlestick-chart></app-candlestick-chart>
                            <!-- <div id="apex-CandleStick"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Basic Bar</h3>
                        </div>
                        <div class="card-body">
                            <app-bar-chart></app-bar-chart>
                            <!-- <div id="apex-basic-bar"></div> -->
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Basic Line Column</h3>
                        </div>
                        <div class="card-body">
                            <app-column-line-chart></app-column-line-chart>
                            <!-- <div id="apex-chart-line-column"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Basic Radar</h3>
                        </div>
                        <div class="card-body">
                            <app-radar-chart></app-radar-chart>
                            <!-- <div id="apex-basic-radar"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-deck">
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Simple Donut</h3>
                        </div>
                        <div class="card-body">
                            <app-pie-chart></app-pie-chart>
                            <!-- <div id="apex-simple-donut"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Circle Chart</h3>
                        </div>
                        <div class="card-body">
                            <app-basicradar-chart></app-basicradar-chart>
                            <!-- <div id="apex-circle-chart"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Circle Gradient</h3>
                        </div>
                        <div class="card-body">
                            <app-radialbar-chart></app-radialbar-chart>
                            <!-- <div id="apex-circle-gradient"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>