<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card b-none bg-none visitors-map">
                        <div class="card-header">
                            <h3 class="card-title">Visitors map</h3>
                        </div>
                        <div class="card-body">
                            <!-- <app-worldmap></app-worldmap> -->
                            <img src="../../../../../assets/images/staticmap.png" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section-body">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">India Map</h3>
                        </div>
                        <div class="card-body text-center">
                            <div id="india_map" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">USA Map</h3>
                        </div>
                        <div class="card-body text-center">
                            <div id="usa_map" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Australia Map</h3>
                        </div>
                        <div class="card-body text-center">
                            <div id="au_map" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">UK Map</h3>
                        </div>
                        <div class="card-body text-center">
                            <div id="uk_map" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <app-footer></app-footer>
</div>