<div class="auth">
  <div class="auth_left">
    <div class="card">
      <div class="text-center ">
        <a class="header-brand"  href="javascript:void(0)">
          <img src="assets/images/logo-web.png" class="logo">
        </a>
      </div>
      <div class="card-body">
        <div class="card-title">Changer votre mot de passe ! </div>
        <div *ngIf="!onclickSuccess" class="alert alert-success" role="alert">
          {{message}}
        </div>
        <form (ngSubmit)="onReset()" *ngIf="onclickSuccess">
          <p class="text-muted">Saisir une nouvelle mot de passe</p>
          <div class="form-group">
            <label class="form-label" for="exampleInputEmail1">Entrer votre nouvelle mot de passe</label>
            <input ngForm (keyup)="onUsernameValid()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="password" [ngClass]="!validUsername?'is-invalid':'is-valid'"  type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Entrer votre nom d'utilisateur">
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Changer le mot de passe </button>
          </div>

        </form>    </div>
      <div class="text-center text-muted">
        <a [routerLink]="['/login']" href="javascript:void(0)">Retourner</a> à la page de connexion
        .
      </div>
    </div>

  </div>
  <div class="auth_right">
    <carousel [isAnimated]="true">
      <slide>
        <img src="assets/images/r3.png" class="img-fluid" alt="first slide">
        <div class="px-4 mt-4">
          <h4>Communication</h4>
          <p>Une solution de Workflow Management vous fournira un système de communication fiable</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/r1.png" class="img-fluid" alt="second slide">
        <div class="px-4 mt-4">
          <h4>Automation</h4>
          <p>Finis les innombrables tâches répétitives tels que la saisie de données.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/r2.png" class="img-fluid" alt="third slide">
        <div class="px-4 mt-4">
          <h4>Collaboration</h4>
          <p>Avec un outil de Workflow Management le tout sera centralisé et ces étapes seront<br>
            intégrées dans un processus global.</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
