<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body">
        <div class="container-fluid">
            <div class="d-md-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" id="TaskBoard-tab" data-toggle="tab"
                            href="javascript:void(0)" (click)="onTab('1')" [ngClass]="{'active': dplistTab}">List
                            View</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="TaskBoard-tab" data-toggle="tab"
                            href="javascript:void(0)" (click)="onTab('2')" [ngClass]="{'active': dpgridTab}">Grid
                            View</a></li>

                </ul>
                <div class="header-action d-flex">
                    <div class="input-group mr-2">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <button type="button" class="btn btn-primary" (click)="openModal(template)"><i
                            class="fe fe-plus mr-2"></i>Add</button>
                </div>
            </div>
            <div class="row clearfix mt-2">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6>Planned</h6>
                            <div id="chart">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6>In progress</h6>
                            <div id="chart">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6>Completed</h6>
                            <div id="chart">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6>In Completed</h6>
                            <div id="chart">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body">
        <div class="container-fluid">
            <div class="tab-content taskboard">
                <div class="tab-pane fade" [ngClass]="{'show active': dplistTab}" id="TaskBoard-list" role="tabpanel">
                    <div class="table-responsive">
                        <table class="table table-hover table-vcenter mb-0 table_custom spacing8 text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th>Team</th>
                                    <th>Duration</th>
                                    <th>Action</th>
                                    <th class="w200"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>
                                        <h6 class="mb-0">New code Update on github</h6>
                                        <span>It is a long established fact that a reader will be distracted...</span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled team-info mb-0">
                                            <li><img src="../assets/images/xs/avatar1.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar2.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar5.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="text-info">Start: 3 Jun 2019</div>
                                        <div class="text-pink">End: 15 Jun 2019</div>
                                    </td>
                                    <td>
                                        <span class="tag tag-blue">Planned</span>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left"><strong>0%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-azure" role="progressbar" style="width: 0%"
                                                aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>
                                        <h6 class="mb-0">Design Events</h6>
                                        <span>It is a long established fact that a reader will be distracted...</span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled team-info mb-0">
                                            <li><img src="../assets/images/xs/avatar1.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="text-info">Start: 02 Jun 2019</div>
                                        <div class="text-pink">End: 08 Jun 2019</div>
                                    </td>
                                    <td>
                                        <span class="tag tag-green">Completed</span>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left"><strong>100%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 100%"
                                                aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>
                                        <h6 class="mb-0">Feed Details on Dribbble</h6>
                                        <span>The point of using Lorem Ipsum is that...</span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled team-info mb-0">
                                            <li><img src="../assets/images/xs/avatar1.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar2.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar5.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="text-info">Start: 3 Jun 2019</div>
                                        <div class="text-pink">End: 15 Jun 2019</div>
                                    </td>
                                    <td>
                                        <span class="tag tag-orange">In progress</span>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left"><strong>35%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-azure" role="progressbar" style="width: 35%"
                                                aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>
                                        <h6 class="mb-0">New code Update on github</h6>
                                        <span>It is a long established fact that a reader will be distracted...</span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled team-info mb-0">
                                            <li><img src="../assets/images/xs/avatar1.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar2.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar5.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar3.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar7.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="text-info">Start: 13 Jun 2019</div>
                                        <div class="text-pink">End: 23 Jun 2019</div>
                                    </td>
                                    <td>
                                        <span class="tag tag-orange">In progress</span>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left"><strong>75%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 75%"
                                                aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>
                                        <h6 class="mb-0">New code Update on github</h6>
                                        <span>Contrary to popular belief, Lorem Ipsum is not simply random text.</span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled team-info mb-0">
                                            <li><img src="../assets/images/xs/avatar4.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar5.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar6.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar7.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="text-info">Start: 8 Jun 2019</div>
                                        <div class="text-pink">End: 15 Jun 2019</div>
                                    </td>
                                    <td>
                                        <span class="tag tag-orange">In progress</span>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left"><strong>35%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-azure" role="progressbar" style="width: 35%"
                                                aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>
                                        <h6 class="mb-0">Angular App Design bug</h6>
                                        <span>There are many variations of passages of Lorem Ipsum available...</span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled team-info mb-0">
                                            <li><img src="../assets/images/xs/avatar3.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar4.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                            <li><img src="../assets/images/xs/avatar7.jpg" tooltip="Avatar"
                                                    data-placement="top" title="Avatar" alt="Avatar"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="text-info">Start: 3 Jun 2019</div>
                                        <div class="text-pink">End: 15 Jun 2019</div>
                                    </td>
                                    <td>
                                        <span class="tag tag-orange">Planned</span>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left"><strong>35%</strong></div>
                                            <div class="float-right"><small class="text-muted">Progress</small></div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-azure" role="progressbar" style="width: 35%"
                                                aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': dpgridTab}" id="TaskBoard-grid" role="tabpanel">
                    <div class="row clearfix" cdkDropListGroup>
                        <div class="col-lg-4 col-md-12">
                            <div class="card planned_task" *ngIf="cardremove1" [ngClass]="{'card-fullscreen': isFull1}"
                                [ngClass]="{'card-collapsed': !isCollapsed, '': isCollapsed}">
                                <div class="card-header">
                                    <h3 class="card-title">Planned</h3>
                                    <div class="card-options">
                                        <a class="card-options-collapse" (click)="isCollapsed = !isCollapsed"
                                            href="javascript:void(0);" [attr.aria-expanded]="!isCollapsed"
                                            aria-controls="collapseBasic" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0)" (click)="fullScreenSection(1)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" class="card-options-remove"
                                            (click)="CardRemoveTrans(1)"><i class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0)" id="button-basic" dropdownToggle
                                                data-toggle="dropdown" aria-expanded="false"><i
                                                    class="fe fe-more-vertical"></i></a>
                                            <div id="dropdown-basic" *dropdownMenu role="menu"
                                                aria-labelledby="button-basic" class="dropdown-menu dropdown-menu-right"
                                                x-placement="bottom-end"
                                                style="position: absolute; transform: translate3d(-174px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed">
                                    <div class="dd" data-plugin="nestable">
                                        <ol class="dd-list">
                                            <li class="dd-item" cdkDropList [cdkDropListData]="todo"
                                                (cdkDropListDropped)="drop($event)">
                                                <div class="dd-handle" *ngFor="let item of todo" cdkDrag>
                                                    <h6>{{item.title}}</h6>
                                                    <span class="time"><span class="text-primary">{{item.time}}</span>
                                                        to
                                                        <span class="text-danger">{{item.completetime}}</span></span>
                                                    <p>{{item.text}}</p>
                                                    <ul class="list-unstyled team-info">
                                                        <li><img src="../assets/images/xs/avatar1.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar2.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar5.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                    </ul>
                                                </div>
                                            </li>

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card progress_task" *ngIf="cardremove2" [ngClass]="{'card-fullscreen': isFull2}"
                                [ngClass]="{'card-collapsed': !isCollapsed1, '': isCollapsed1}">
                                <div class="card-header">
                                    <h3 class="card-title">In progress</h3>
                                    <div class="card-options">
                                        <a class="card-options-collapse" (click)="isCollapsed1 = !isCollapsed1"
                                            href="javascript:void(0);" [attr.aria-expanded]="!isCollapsed1"
                                            aria-controls="collapseBasic" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0)" (click)="fullScreenSection(2)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" class="card-options-remove"
                                            (click)="CardRemoveTrans(2)"><i class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0)" id="button-basic" dropdownToggle
                                                data-toggle="dropdown" aria-expanded="false"><i
                                                    class="fe fe-more-vertical"></i></a>
                                            <div id="dropdown-basic" *dropdownMenu role="menu"
                                                aria-labelledby="button-basic" class="dropdown-menu dropdown-menu-right"
                                                x-placement="bottom-end"
                                                style="position: absolute; transform: translate3d(-174px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed1">
                                    <div class="dd" data-plugin="nestable">
                                        <ol class="dd-list">
                                            <li class="dd-item" cdkDropList [cdkDropListData]="done"
                                                (cdkDropListDropped)="drop($event)">
                                                <div class="dd-handle" *ngFor="let item of done" cdkDrag>
                                                    <h6>{{item.title}}</h6>
                                                    <p>{{item.text}}</p>
                                                    <span class="time"><span class="text-primary">{{item.time}}</span>
                                                        to
                                                        <span class="text-danger">{{item.completetime}}</span></span>
                                                    <ul class="list-unstyled team-info">
                                                        <li><img src="../assets/images/xs/avatar7.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar9.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                    </ul>
                                                </div>
                                            </li>

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card completed_task" *ngIf="cardremove3"
                                [ngClass]="{'card-fullscreen': isFull3}"
                                [ngClass]="{'card-collapsed': !isCollapsed2, '': isCollapsed2}">
                                <div class="card-header">
                                    <h3 class="card-title">Completed</h3>
                                    <div class="card-options">
                                        <a class="card-options-collapse" (click)="isCollapsed2 = !isCollapsed2"
                                            href="javascript:void(0);" [attr.aria-expanded]="!isCollapsed2"
                                            aria-controls="collapseBasic" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0)" (click)="fullScreenSection(3)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" class="card-options-remove"
                                            (click)="CardRemoveTrans(3)"><i class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0)" id="button-basic" dropdownToggle
                                                data-toggle="dropdown" aria-expanded="false"><i
                                                    class="fe fe-more-vertical"></i></a>
                                            <div id="dropdown-basic" *dropdownMenu role="menu"
                                                aria-labelledby="button-basic" class="dropdown-menu dropdown-menu-right"
                                                x-placement="bottom-end"
                                                style="position: absolute; transform: translate3d(-174px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" id="collapseBasic" [collapse]="isCollapsed2">
                                    <div class="dd" data-plugin="nestable">
                                        <ol class="dd-list">
                                            <li class="dd-item" cdkDropList [cdkDropListData]="completed"
                                                (cdkDropListDropped)="drop($event)">
                                                <div class="dd-handle" *ngFor="let item of completed" cdkDrag>
                                                    <h6>{{item.title}}</h6>
                                                    <p>{{item.text}}</p>
                                                    <ul class="list-unstyled team-info">
                                                        <li><img src="../assets/images/xs/avatar4.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar5.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar6.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar8.jpg" tooltip="Avatar"
                                                                data-placement="top" title="Avatar" alt="Avatar"></li>
                                                    </ul>
                                                </div>
                                            </li>

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Task</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-12">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Task no.">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Job title">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <textarea class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <select class="form-control show-tick">
                        <option>Select Team</option>
                        <option>John Smith</option>
                        <option>Claire Peters</option>
                        <option>Allen Collins</option>
                        <option>Cory Carter</option>
                        <option>Rochelle Barton</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <label>Range</label>
                <div class="input-daterange input-group" data-provide="datepicker">
                    <input type="text" class="form-control" name="start">
                    <span class="input-group-addon"> to </span>
                    <input type="text" class="form-control" name="end">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>